<form method="post" action="/index.php?action=login">
  <p>
    <label id="login">имя</label>
    <input title="login" type="text" name="login" value="~login~"/>
  </p>
  <p>
    <label id="pass">пароль</label>
    <input title="password" type="password" name="pass" value="~pass~"/>
  </p>
  <p>
    <label id="remember-me">запомнить меня</label>
    <input title="remember-me" type="checkbox" name="remember-me" ~rememberMe~/>
  </p>
  <p>
    <button name="do-login" type="submit">войти</button>
  </p>
  <hr/>
</form>
