<h2>А теперь давайте испытаем вашу удачу!</h2>

<form method="post" action="/" name="raffle">
  <input type="hidden" name="action" value="raffle">

  <input type="hidden" name="raffleGiftToken" value="~giftToken~">
  <input type="hidden" name="choseGiftToken" value="~giftToken~">

  <!--little toggle for ThingGift testing-->
  <!--will removed after complete development-->
  <!--<input type="hidden" name="randomGift" value="~randomGift~">-->
  <input type="hidden" name="randomGift" value="1">

  <input type="hidden" name="userId" value="~id~">
  <input type="hidden" name="userLogin" value="~userLogin~">

  <button>получить приз</button>
</form>
