<form method="post" action="/?action=signUp">
  <p>
    <label id="login">имя</label>
    <input title="login" type="text" name="login" value="~login~"/>
  </p>
  <p>
    <label id="pass">пароль</label>
    <input title="password" type="password" name="pass" value="~pass~"/>
  </p>
  <p>
    <label id="pass2">повторите пароль</label>
    <input title="password2" type="password" name="pass2" value="~pass2~"/>
  </p>
  <p>
    <label id="address">адрес</label>
    <input title="address" type="text" name="address" value="~address~"/>
  </p>
  <p>
    <label id="bankDetails">банковские реквизиты</label>
    <input title="bankDetails" type="text" name="bankDetails" value="~bankDetails~"/>
  </p>
  <p>
    <button name="do-signup" type="submit">зарегистрироваться</button>
  </p>
</form>